*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

html,
body,
#root,
.App {
	height: 100%;
	// width: 100%;
	overflow: auto;
}

:root {
	// variables
	--color-mode: dark;
	--nav-color: rgb(18, 18, 18);
	--dark-border-color: rgb(28, 28, 28);
	--background-color: rgb(6, 6, 6);
	// --color-lightgray: #ccc;
	--light-text-color: #ddd;
	--accent-color: #1baafd;

	--nav-height: 42px;
	--max-width: 1000px;
	--edge-padding: 10px;
	--button-scale-factor: 0.96;

	// root styles
	background-color: var(--background-color);
	font-family: Verdana, Geneva, sans-serif;
	color: #eee;
	height: 100%;
	width: 100%;
}

@mixin for-desktop-up {
	@media (min-width: 900px) {
		@content;
	}
}
