*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

// body,
// html {
// 	height: 100%;
// }

:root {
	// variables
	--color-mode: dark;
	--nav-color: rgb(18, 18, 18);
	--dark-border-color: rgb(28, 28, 28);
	--background-color: rgb(6, 6, 6);
	--dark-green-color: rgb(24, 82, 24);
	--dark-red-color: rgb(153, 47, 47);
	--dark-btn-color: #222;
	--grayed-text-color: #666;
	--light-text-color: #ddd;
	--accent-color: #1baafd;

	--nav-height: 42px;
	--max-width: 1000px;
	--max-smaller-width: 600px;
	--edge-padding: 10px;
	--button-scale-factor: 0.96;

	// root styles
	background-color: var(--background-color);
	font-family: Verdana, Geneva, sans-serif;
	color: #eee;
}

.emptyMessageColor {
	text-align: center;
	color: var(--grayed-text-color);
}
