// trynna make it when you scroll above the navbar,
// that is still shows the navbar color

// .navbar::before {
// 	content: '';
// 	position: fixed;
// 	background-color: red;
// 	top: -20px;
// 	left: 10px;
// 	right: -10px;
// 	bottom: 0;
// }

.navbar {
	position: sticky;
	top: 0;
	// width: 100%;
	background-color: var(--nav-color);
	border-bottom: 0.1px solid var(--dark-border-color);
	z-index: 1;
	height: var(--nav-height);
	overflow: hidden;

	.navbarContents {
		margin: 0 auto;
		max-width: var(--max-width);
		height: 100%;
		padding-left: var(--edge-padding);
		padding-right: var(--edge-padding);

		display: grid;
		grid-template-columns: auto 120px;
		align-content: center;
		user-select: none;

		.active {
			color: var(--accent-color);
		}

		a {
			color: var(--light-text-color);
		}

		ul li {
			list-style: none;

			.icon {
				width: 26px;
				height: 26px;
			}
		}

		.titleLink {
			// display: grid;
			// grid-template-columns: auto auto;
			justify-self: start;
			letter-spacing: 1px;
			text-decoration: none;

			.navTitle {
				font-size: 20px;
			}
		}

		ul {
			display: flex;
			justify-content: space-around;
		}
	}

	.unauthBarContents {
		max-width: var(--max-width);
		margin: 0 auto;
		height: 100%;

		display: grid;
		justify-content: end;
		align-content: center;
		padding-right: 8px;

		.active {
			color: var(--accent-color);
		}

		a {
			margin-left: 10px;
			color: var(--light-text-color);
			.icon {
				width: 26px;
				height: 26px;
			}
		}

		// ul li {
		// 	list-style: none;

		// }

		.buttons {
			display: flex;
			flex-direction: row;
			gap: 8px;
		}
	}
}

.localNav {
	display: grid;
	height: 40px;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	margin-bottom: 16px;
	// background-color: gray;

	.navItem {
		display: grid;
		justify-content: center;
		align-content: center;
		text-align: center;
		cursor: pointer;

		font-size: 18px;

		&:hover {
			.icon {
				// transform: scale(var(--button-scale-factor));
			}
		}
	}

	.active {
		color: var(--accent-color);
		// background-color: gray;
		border-bottom: 1px solid var(--dark-border-color);
	}
}

// .backAndTitleBar {
// 	position: sticky;
// 	top: 0;
// 	width: 100%;
// 	background-color: var(--nav-color);
// 	border-bottom: 1px solid var(--dark-border-color);
// 	z-index: 1;
// 	// background-color: gray;

// 	.barContents {
// 		max-width: var(--max-width);
// 		height: var(--nav-height);
// 		margin: 0 auto;
// 		padding-left: var(--edge-padding);
// 		padding-right: var(--edge-padding);

// 		display: grid;
// 		grid-template-columns: auto 160px;
// 		align-content: center;
// 		user-select: none;

// 		.backBtn {
// 			justify-self: start;
// 		}

// 		.buttons {
// 			// background-color: gray;
// 			display: grid;
// 			grid-template-columns: 80px 80px;

// 			.loginBtn {
// 				justify-self: center;
// 			}

// 			.signupBtn {
// 				justify-self: center;
// 			}
// 		}
// 	}
// }
