.loginPage {
	display: grid;
	height: 100%;

	justify-content: center;
	align-items: center;
	// border: 4px dashed white;
}

.login-form {
	width: 400px;
	max-width: 90vw;
	margin: 0 auto;
	// background-color: gray;

	.form {
		display: grid;
		grid-template-rows: 3fr 3fr 1fr 3fr 3fr;
		grid-row-gap: 1rem;

		input {
			padding: 0.8rem;
			border-radius: 100vh;
			border: 0;
			background-color: #222;
			color: var(--light-text-color);
		}

		.login-button {
			padding: 0.8rem;
			border-radius: 100vh;
			border: 0px solid #444;
			background-color: var(--accent-color);
			color: var(--light-text-color);
			cursor: pointer;
		}

		.forgot-password {
			display: grid;
			align-self: start;
			justify-self: end;
			font-size: 0.5rem;
			color: var(--accent-color);
			user-select: none;
			font-weight: bold;
			cursor: pointer;
		}

		.sign-up {
			display: flex;
			align-self: center;
			justify-self: center;
			font-size: 0.8rem;
			// cursor: pointer;
			.button {
				padding-left: 6px;
				cursor: pointer;
			}
		}
	}
}
