.profilePage {
	--top-bottom-margins: 16px;

	margin: var(--top-bottom-margins) auto;
	max-width: var(--max-width);
	padding-left: var(--edge-padding);
	padding-right: var(--edge-padding);

	.profileTop {
		justify-content: center;
		margin-bottom: var(--top-bottom-margins);
		padding-left: var(--edge-padding);
		padding-right: var(--edge-padding);

		.profileInfoTop {
			display: grid;
			grid-template-columns: 200px auto;
			// justify-content: center;
			// background-color: gray;

			.profilePhoto {
				height: 200px;
				width: 200px;
				border-radius: 50%;
				overflow: hidden;
				user-select: none;
				// justify-self: center;
				// background-color: gray;

				img {
					object-fit: cover;
					height: 200px;
					width: 200px;
				}
			}
		}

		.profileTopRight {
			position: relative;
			text-align: center;
			display: grid;
			grid-template-rows: auto auto auto;
			cursor: default;
			// justify-self: start;

			.fullName {
				align-self: end;
				padding-bottom: 4px;
				font-size: 28px;
			}

			.handle {
				// color: var(--accent-color);
			}

			.noName {
				align-self: center;
				font-size: 20px;
			}

			.profileNumbersWrapper {
				display: flex;
				justify-content: center;
				width: 100%;
				// background-color: green;
			}

			.profileNumbers {
				width: 100%;
				max-width: 560px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				justify-content: space-evenly;
				align-content: start;
				user-select: none;
				// background-color: blue;

				.profileNumber {
					width: 88px;
					cursor: pointer;
					// background-color: purple;
					justify-self: center;

					&:hover {
						transform: scale(var(--button-scale-factor));
					}
				}
			}

			.centered {
				align-content: center;
				// align-self: center;
			}

			.editButton {
				position: absolute;
				display: grid;
				justify-content: center;
				align-content: center;
				top: 0;
				right: 0;
				color: #888;
				width: 36px;
				height: 36px;
				// background-color: var(--background-color);
				// border-radius: 50%;
				cursor: pointer;
				overflow: hidden;
				user-select: none;

				.icon {
					width: 24px;
					height: 24px;
				}

				&:hover {
					transform: scale(var(--button-scale-factor));
				}
			}
		}

		.profileInfoBio {
			margin-top: var(--top-bottom-margins);
			margin-bottom: var(--top-bottom-margins);
			white-space: pre-wrap;
			font-size: 14px;
			cursor: default;
			// background-color: gray;
		}
	}

	.profileButtons {
		height: 40px;
		display: flex;
		justify-content: center;
		align-content: center;
		gap: 8px;
		margin-top: var(--top-bottom-margins);
		margin-bottom: var(--top-bottom-margins);
		// background-color: red;

		// .button {
		// 	// transform: scale(1.3);
		// 	width: 100px;
		// 	height: 30px;

		// 	&:hover {
		// 		// transform: scale(1.26);
		// 	}
		// }

		.edit {
			background-color: transparent;
			color: var(--text-color);
			width: 120px;
			height: 40px;
			border-radius: 100vw;
			border: 1px solid var(--dark-border-color);
			cursor: pointer;
			user-select: none;

			.icon {
				font-size: 16px;
				padding-right: 3px;
			}

			&:hover {
				transform: scale(0.98);
			}
		}
	}

	.profileBottom {
		display: grid;
		grid-template-rows: 50px auto;
		user-select: none;
		text-align: center;

		.loading {
			transform: scale(0.5);
			height: 50px;
			// background-color: blue;
			padding: 0;
			margin-bottom: 6px;
		}

		.profileNav {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr 1fr;
			justify-self: center;

			.navItem {
				display: grid;
				justify-content: center;
				align-content: center;
				text-align: center;
				cursor: pointer;

				font-size: 24px;

				&:hover {
					.icon {
						// transform: scale(var(--button-scale-factor));
					}
				}
			}

			.active {
				color: var(--accent-color);
				// background-color: gray;
				border-bottom: 1px solid var(--dark-border-color);
			}
		}

		.addHeader {
			display: grid;
			justify-content: center;
			align-items: center;
			margin-top: var(--top-bottom-margins);
			// margin-bottom: var(--top-bottom-margins);
			// height: 90px;
			// background-color: green;

			.addButton {
				display: grid;
				justify-content: center;
				align-items: center;
				text-align: center;
				grid-template-columns: auto auto;
				height: 40px;
				width: 100px;
				border-radius: 100vh;
				border: 1px solid var(--dark-border-color);
				overflow: hidden;
				font-size: 16px;
				cursor: pointer;

				.addButtonText {
					padding-bottom: 4px;
				}

				.icon {
					justify-self: center;
					font-size: 18px;
					padding-right: 4px;
				}

				&:hover {
					// transform: scale(var(--button-scale-factor));
					background-color: var(--accent-color);
				}
			}
		}

		.profileBody {
			margin-top: var(--top-bottom-margins);
			// padding-top: 20px;
			// margin-left: var(--edge-padding);
			// margin-right: var(--edge-padding);
			// background-color: blue;
			// height: 300vh;
			// display: grid;
			// grid-template-columns: 1fr;
			// display: grid;
			// justify-content: center;
			// margin: 0 auto;
			// height: 100%;
			// margin: 0 8px;
			// background-color: purple;
		}
	}
}
