@import 'config';
@import 'login';
@import 'loading';

.dashboardPage {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-rows: 50px auto;
	// border: 5px dashed blue;

	.bar {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		align-items: center;
		background-color: black;
		// border: 4px dashed red;

		button {
			justify-self: center;
			height: 100%;
			width: 60px;
			background-color: var(--accent-color);
		}

		.title {
			text-align: center;
		}
	}

	.infiniteScroll {
		display: grid;
		// grid-template-columns: 1fr 1fr;
		// grid-auto-rows: 88vh;
		overflow-y: scroll;
		justify-content: center;
		align-items: center;
		text-align: center;
		// border: 4px dashed red;

		.post {
			display: grid;
			height: 88vh;
			width: 100vw;
			justify-content: center;
			align-items: center;
			border: 4px dashed white;
		}
	}

	.streamsList {
		display: grid;
		// grid-template-columns: 1fr 1fr;
		grid-auto-rows: 60px;
		overflow-y: scroll;
		justify-content: center;
		align-items: center;
		text-align: center;

		h1 {
			font-size: 20px;
		}
	}
}

.loadingIcon {
	// align-self: center;
}
