*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

:root {
  --color-mode: dark;
  --nav-color: rgb(18, 18, 18);
  --dark-border-color: rgb(28, 28, 28);
  --background-color: rgb(6, 6, 6);
  --dark-green-color: rgb(24, 82, 24);
  --dark-red-color: rgb(153, 47, 47);
  --dark-btn-color: #222;
  --grayed-text-color: #666;
  --light-text-color: #ddd;
  --accent-color: #1baafd;
  --nav-height: 42px;
  --max-width: 1000px;
  --max-smaller-width: 600px;
  --edge-padding: 10px;
  --button-scale-factor: 0.96;
  background-color: var(--background-color);
  font-family: Verdana, Geneva, sans-serif;
  color: #eee;
}

.emptyMessageColor {
  text-align: center;
  color: var(--grayed-text-color);
}

.loading {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.loading .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading .lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.loading .lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.loading .lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.loading .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading .lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.loading .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading .lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.loading .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading .lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.loading .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading .lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.loading .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading .lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.loading .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading .lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.loading .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading .lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.loading .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.button {
  display: -ms-grid;
  display: grid;
  width: 90px;
  height: 30px;
  border-radius: 100vh;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.likeBtn {
  padding: 6px;
  border-radius: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.likeBtn .likedLikeIcon {
  color: red;
}

.loginBtn {
  background-color: var(--accent-color);
  width: 70px;
  font-size: 14px;
}

.signupBtn {
  background-color: var(--dark-btn-color);
  width: 70px;
  font-size: 14px;
}

.backBtn {
  width: 30px;
  height: 30px;
}

.backBtn .icon {
  width: 24px;
  height: 24px;
}

.backBtn:hover {
  -webkit-transform: scale(var(--button-scale-factor));
          transform: scale(var(--button-scale-factor));
}

.editButton {
  background-color: var(--dark-btn-color);
  width: 60px;
  height: 24px;
}

.deleteBtn {
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
  color: var(--dark-red-color);
}

.deleteBtn .icon {
  width: 18px;
  height: 18px;
}

.editStreamBtn {
  background-color: var(--dark-btn-color);
  width: 100px;
  height: 30px;
  padding-bottom: 2px;
}

.editProfileBtn {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  background-color: var(--dark-btn-color);
  width: 100px;
  height: 36px;
  padding-bottom: 2px;
}

.loadingBtn {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: default;
}

.loadingBtn .loading {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.followBtn {
  background-color: var(--accent-color);
  width: 30px;
  height: 30px;
}

.cancelBtn {
  background-color: var(--dark-btn-color);
  padding-bottom: 1px;
  padding-bottom: 1px;
}

.unfollowBtn {
  background-color: var(--dark-btn-color);
  width: 30px;
  height: 30px;
}

.subscribeBtn {
  height: 24px;
  background-color: var(--accent-color);
  padding-bottom: 2px;
}

.unsubscribeBtn {
  height: 24px;
  background-color: var(--dark-btn-color);
  padding-bottom: 2px;
}

.confirmDeleteBtn {
  background-color: var(--dark-red-color);
}

.closeBtn {
  height: 36px;
  width: 36px;
  border-radius: 100vw;
  background-color: rgba(12, 12, 12, 0.7);
  margin: 10px;
}

.closeBtn .icon {
  width: 30px;
  height: 30px;
}

.imagePreview {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
  border-bottom: 0.1px solid var(--dark-border-color);
  z-index: 1;
  height: var(--nav-height);
  overflow: hidden;
}

.navbar .navbarContents {
  margin: 0 auto;
  max-width: var(--max-width);
  height: 100%;
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 120px;
      grid-template-columns: auto 120px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar .navbarContents .active {
  color: var(--accent-color);
}

.navbar .navbarContents a {
  color: var(--light-text-color);
}

.navbar .navbarContents ul li {
  list-style: none;
}

.navbar .navbarContents ul li .icon {
  width: 26px;
  height: 26px;
}

.navbar .navbarContents .titleLink {
  -ms-grid-column-align: start;
      justify-self: start;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar .navbarContents .titleLink .navTitle {
  font-size: 20px;
}

.navbar .navbarContents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .unauthBarContents {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 8px;
}

.navbar .unauthBarContents .active {
  color: var(--accent-color);
}

.navbar .unauthBarContents a {
  margin-left: 10px;
  color: var(--light-text-color);
}

.navbar .unauthBarContents a .icon {
  width: 26px;
  height: 26px;
}

.navbar .unauthBarContents .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}

.localNav {
  display: -ms-grid;
  display: grid;
  height: 40px;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 16px;
}

.localNav .navItem {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.localNav .active {
  color: var(--accent-color);
  border-bottom: 1px solid var(--dark-border-color);
}

.formWrapper {
  width: 500px;
  max-width: 80vw;
  margin: 0 auto;
}

.form {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 40px;
  gap: 8px;
  text-align: center;
}

.form label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
}

.form label .labelText {
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 14px;
  padding: 10px;
}

.form input {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 100vh;
  border: 0;
  background-color: #222;
  color: var(--light-text-color);
}

.form textarea {
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border: 0;
  background-color: #222;
  color: var(--light-text-color);
  resize: none;
}

.form .buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.form .buttons .loading {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.form .span3 {
  grid-row: span 3;
}

.form .submitBtn {
  background-color: var(--accent-color);
}

.form .confirmDeleteBtn {
  background-color: var(--dark-red-color);
}

.form .inactiveBtn {
  background-color: transparent;
  border: 1px solid #333;
  color: #555;
  cursor: default;
}

.form .blue {
  border: 1px solid var(--accent-color);
  padding-left: 13px;
  padding-right: 13px;
}

.form .blueForTxtArea {
  border: 1px solid var(--accent-color);
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.form .red {
  border: 1px solid red;
  padding-left: 13px;
  padding-right: 13px;
}

.loginPage {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.login-form {
  width: 400px;
  max-width: 90vw;
}

.login-form .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr 1fr 3fr 3fr;
      grid-template-rows: 3fr 3fr 1fr 3fr 3fr;
  grid-row-gap: 1rem;
}

.login-form .form input {
  padding: 0.8rem;
  border-radius: 100vh;
  border: 0;
  background-color: #222;
  color: var(--light-text-color);
}

.login-form .form .login-button {
  padding: 0.8rem;
  border-radius: 100vh;
  border: 0px solid #444;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  cursor: pointer;
}

.login-form .form .forgot-password {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 0.5rem;
  padding-right: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  cursor: pointer;
}

.login-form .form .forgot-password:hover {
  color: var(--accent-color);
}

.login-form .form .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.login-form .form .sign-up .button {
  padding-left: 6px;
}

.login-form .form .sign-up:hover {
  color: var(--accent-color);
}

.signupPage {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.signupPage .signupForm {
  width: 400px;
  max-width: 90vw;
  margin: 0 auto;
}

.signupPage .signupForm .form {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.signupPage .signupForm .form input {
  padding: 0.8rem;
  border-radius: 100vh;
  border: 0;
  background-color: #222;
  color: var(--light-text-color);
}

.signupPage .signupForm .form .submitButton {
  padding: 0.8rem;
  border-radius: 100vh;
  border: 0px solid #444;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  cursor: pointer;
}

.signupPage .signupForm .form .login {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.signupPage .signupForm .form .login:hover {
  color: var(--accent-color);
}

.signupPage .signupForm .form .login .button {
  padding-left: 6px;
}

.profilePage {
  --top-bottom-margins: 16px;
  margin: var(--top-bottom-margins) auto;
  max-width: var(--max-width);
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
}

.profilePage .profileTop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: var(--top-bottom-margins);
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
}

.profilePage .profileTop .profileInfoTop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
}

.profilePage .profileTop .profileInfoTop .profilePhoto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profilePage .profileTop .profileInfoTop .profilePhoto img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}

.profilePage .profileTop .profileTopRight {
  position: relative;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  cursor: default;
}

.profilePage .profileTop .profileTopRight .fullName {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 4px;
  font-size: 28px;
}

.profilePage .profileTop .profileTopRight .noName {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
}

.profilePage .profileTop .profileTopRight .profileNumbersWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.profilePage .profileTop .profileTopRight .profileNumbers {
  width: 100%;
  max-width: 560px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profilePage .profileTop .profileTopRight .profileNumbers .profileNumber {
  width: 88px;
  cursor: pointer;
  -ms-grid-column-align: center;
      justify-self: center;
}

.profilePage .profileTop .profileTopRight .profileNumbers .profileNumber:hover {
  -webkit-transform: scale(var(--button-scale-factor));
          transform: scale(var(--button-scale-factor));
}

.profilePage .profileTop .profileTopRight .centered {
  -ms-flex-line-pack: center;
      align-content: center;
}

.profilePage .profileTop .profileTopRight .editButton {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  right: 0;
  color: #888;
  width: 36px;
  height: 36px;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profilePage .profileTop .profileTopRight .editButton .icon {
  width: 24px;
  height: 24px;
}

.profilePage .profileTop .profileTopRight .editButton:hover {
  -webkit-transform: scale(var(--button-scale-factor));
          transform: scale(var(--button-scale-factor));
}

.profilePage .profileTop .profileInfoBio {
  margin-top: var(--top-bottom-margins);
  margin-bottom: var(--top-bottom-margins);
  white-space: pre-wrap;
  font-size: 14px;
  cursor: default;
}

.profilePage .profileButtons {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 8px;
  margin-top: var(--top-bottom-margins);
  margin-bottom: var(--top-bottom-margins);
}

.profilePage .profileButtons .edit {
  background-color: transparent;
  color: var(--text-color);
  width: 120px;
  height: 40px;
  border-radius: 100vw;
  border: 1px solid var(--dark-border-color);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profilePage .profileButtons .edit .icon {
  font-size: 16px;
  padding-right: 3px;
}

.profilePage .profileButtons .edit:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.profilePage .profileBottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.profilePage .profileBottom .loading {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  height: 50px;
  padding: 0;
  margin-bottom: 6px;
}

.profilePage .profileBottom .profileNav {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
}

.profilePage .profileBottom .profileNav .navItem {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
}

.profilePage .profileBottom .profileNav .active {
  color: var(--accent-color);
  border-bottom: 1px solid var(--dark-border-color);
}

.profilePage .profileBottom .addHeader {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: var(--top-bottom-margins);
}

.profilePage .profileBottom .addHeader .addButton {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: 40px;
  width: 100px;
  border-radius: 100vh;
  border: 1px solid var(--dark-border-color);
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
}

.profilePage .profileBottom .addHeader .addButton .addButtonText {
  padding-bottom: 4px;
}

.profilePage .profileBottom .addHeader .addButton .icon {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 18px;
  padding-right: 4px;
}

.profilePage .profileBottom .addHeader .addButton:hover {
  background-color: var(--accent-color);
}

.profilePage .profileBottom .profileBody {
  margin-top: var(--top-bottom-margins);
}

.searchPage {
  margin: 0 auto;
  max-width: var(--max-width);
}

.searchPage .searchBar {
  margin: 16px auto;
  max-width: var(--max-smaller-width);
}

.searchPage .searchBar .searchField {
  position: relative;
}

.searchPage .searchBar .searchField input {
  width: 100%;
  padding: 0.8rem;
  padding-left: 38px;
  border-radius: 100vh;
  font-size: 1rem;
  border: 0;
  background-color: #222;
  color: var(--light-text-color);
}

.searchPage .searchBar .searchField .searchIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 13px;
  left: 12px;
  color: #999;
  pointer-events: none;
}

.postGridRow {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-left: 1px;
}

.postGridCell {
  position: relative;
}

.postGridCell::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.postGridCell .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-top: 1px solid var(--background-color);
  border-right: 1px solid var(--background-color);
}

.postGridCell img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.streamList {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-columns: (280px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 280px);
  grid-auto-rows: auto;
  gap: 20px;
}

.streamList .stream {
  border: 1px solid var(--dark-border-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 60px 1fr 1fr;
      grid-template-rows: 60px 1fr 1fr;
  height: 340px;
  width: 280px;
  cursor: pointer;
  border-radius: 3px;
  gap: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.streamList .stream .streamHeader {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  text-align: center;
  position: relative;
}

.streamList .stream .streamHeader .headerText {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.streamList .stream .streamHeader .headerText .name {
  font-size: 16px;
}

.streamList .stream .streamHeader .headerText .handle {
  color: #bbb;
  font-size: 12px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 6px;
}

.streamList .stream .streamHeader .headerText .handle:hover {
  color: var(--accent-color);
}

.streamList .stream .streamHeader .headerButton {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.streamList .stream .streamHeader .streamDetailsBtn {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.streamList .stream .streamHeader .streamDetailsBtn:hover {
  color: var(--accent-color);
}

.streamList .stream .photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.streamList .stream .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.profileListWrapper {
  margin: 0 auto;
  max-width: var(--max-smaller-width);
}

.profileListItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 36px;
      grid-template-columns: auto 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-right: 8px;
  padding-left: 10px;
  border-radius: 100vw;
  overflow: hidden;
  cursor: pointer;
}

.profileListItem:hover {
  background-color: #111;
}

.profileListItem .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileListItem .info .profileImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profileListItem .info .profileImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30px;
  width: 30px;
}

.profileListItem .info .profileName {
  padding-left: 12px;
}

.profileListItem .info .profileHandle {
  padding-left: 10px;
  color: #999;
}

.streamPageWrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.streamPage {
  width: 100vw;
  max-width: var(--max-width);
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
  color: var(--light-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.streamPage .loading {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.streamPage .header {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.streamPage .header .name {
  font-size: 28px;
}

.streamPage .header .handle {
  cursor: pointer;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 8px;
}

.streamPage .header .handle:hover {
  color: var(--accent-color);
}

.streamPage .header .buttons {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.streamPage .streamNav {
  display: -ms-grid;
  display: grid;
  height: 40px;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
}

.streamPage .streamNav .navItem {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.streamPage .streamNav .active {
  color: var(--accent-color);
  border-bottom: 1px solid var(--dark-border-color);
}

.followPage {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 8px;
  text-align: center;
  cursor: default;
}

.followPage .fullName {
  font-size: 28px;
  padding: 8px;
}

.followPage .handleWrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.followPage .handle {
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  padding-bottom: 8px;
}

.followPage .handle:hover {
  color: var(--accent-color);
}

.homePage {
  height: calc(100vh - var(--nav-height));
  cursor: default;
}

.homePage .emptyMessageColor {
  padding-top: 16px;
}

.postWrapper {
  display: -ms-grid;
  display: grid;
  margin: 6vh auto;
  max-width: 98%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.post {
  background-color: white;
  padding: 6px;
}

.post img {
  max-width: 100%;
  max-height: 74vh;
  height: auto;
  width: auto;
}

.post .ghostImage {
  width: 400px;
  height: 400px;
  max-width: 90%;
  max-height: 70%;
  background-color: #111;
}

.post .postFooter {
  margin-top: 3px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 1fr 20px 20px;
      grid-template-columns: 35px 1fr 20px 20px;
}

.post .postFooter .profilePhoto {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.post .postFooter .profilePhoto img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 28px;
  width: 28px;
}

.post .postFooter .postHandle {
  color: #444;
  font-size: 12px;
  font-weight: 100;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.post .postFooter .postLikeIcon {
  color: #999;
  font-size: 0.6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 8px;
  cursor: pointer;
}

.post .postFooter .likeIcon {
  height: 16px;
  width: 16px;
}

.post .postFooter .liked {
  color: red;
}

.post .postFooter .postCommentIcon {
  color: #999;
  font-size: 0.6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  cursor: pointer;
}

.post .postFooter .commentIcon {
  height: 16px;
  width: 16px;
}

.loadingImage {
  position: relative;
  display: inline-block;
  width: 60%;
  height: 70%;
  vertical-align: middle;
  background-color: var(--background-color);
}

.explorePage {
  margin: 0 auto;
  max-width: var(--max-width);
}

.modalWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(27, 27, 27, 0.9);
  cursor: default;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 70vh;
  max-width: 95vw;
  min-height: 140px;
  background-color: var(--background-color);
  border-radius: 6px;
  overflow-y: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modalHeading {
  padding: 20px;
  font-size: 18px;
  border-bottom: 1px solid var(--dark-border-color);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modalHeading .accent {
  display: -ms-grid;
  display: grid;
  color: var(--accent-color);
  font-size: 16px;
  padding-top: 1px;
}

.modalBody {
  position: relative;
  padding: 20px;
}

.loginModal {
  z-index: 12;
}

.followModal {
  width: 1000px;
}

.followModal .modalBody {
  padding-top: 30px;
  padding-bottom: 40px;
}

.createPostModal .uploadPhotoContainer {
  width: 95%;
  height: 30%;
  background-color: gray;
}

.confirmDeleteModalWrapper {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 11;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background-color);
}

.postModal {
  height: 100vh;
  width: 100vw;
  padding-bottom: 0;
  background-color: var(--background-color);
  overflow-y: scroll;
}

.postModal .postWrapper {
  margin: 0 auto;
}

.postModal .modalHeading {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 0;
  border: none;
  z-index: 13;
  max-width: var(--max-width);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.postModal .modalBody {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.postModal .modalBody .postDetails {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-smaller-width);
  z-index: 12;
}

.postModal .modalBody .postDetails .postCaption {
  white-space: pre-wrap;
  padding-top: 20px;
  padding-bottom: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--dark-border-color);
  padding-left: 8px;
  font-size: 18px;
}

.postModal .modalBody .postDetails .loadNewComments {
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
  margin: 0 auto;
  width: 200px;
  z-index: 13;
  border-radius: 100vh;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px;
}

.postModal .modalBody .postDetails .loadNewComments span {
  color: var(--accent-color);
}

.postModal .modalBody .postDetails .commentListItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 44px auto 50px;
      grid-template-columns: 44px auto 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 0px;
}

.postModal .modalBody .postDetails .commentListItem .profileImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.postModal .modalBody .postDetails .commentListItem .profileImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30px;
  width: 30px;
}

.postModal .modalBody .postDetails .commentListItem .center .text {
  word-break: break-word;
}

.postModal .modalBody .postDetails .commentListItem .center .commentInfo {
  color: var(--grayed-text-color);
  font-size: 12px;
  margin-top: 8px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.postModal .modalBody .postDetails .commentListItem .icons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  -ms-flex-line-pack: start;
      align-content: start;
  justify-content: center;
}

.postModal .modalBody .postDetails .emptyMessageColor {
  padding: 4px 0;
}

.postModal .modalBody .postDetails .createComment {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  background-color: var(--background-color);
  text-align: center;
  z-index: 15;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 44px auto;
      grid-template-columns: 44px auto;
}

.postModal .modalBody .postDetails .createComment .profileImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: auto;
}

.postModal .modalBody .postDetails .createComment .profileImage img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30px;
  width: 30px;
}

.postModal .modalBody .postDetails .createComment textarea {
  position: relative;
  border-radius: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 47px;
  border: 0;
  background-color: #222;
  color: var(--light-text-color);
  resize: none;
  height: 30px;
  width: 100%;
}

.postModal .modalBody .postDetails .createComment .commentPostBtn {
  position: absolute;
  right: -1px;
  bottom: 10px;
  height: 30px;
  width: 54px;
  text-align: center;
  font-size: 15px;
  color: var(--accent-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  cursor: pointer;
  padding-top: 5px;
  padding-right: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
